$main-color: #002276;
$main-color-alt: #071a48;
$text-color: #ccc;
$light-grey: #a1a7b2;
$dark-grey: #777;
$error-color: crimson;
$alert-bg: #fdeded;
$alert-color: #622524;
$link-color: #0089e5;
$link-color-alt: #09619c;
$focus-color: #09f;
$triangle-color: #f1f5f8;
